# Pastas que nao devem ser comitadas




*.db
*.log
/.nicegui
AGENTS.md
*.pdf
/downloads
*.pyc
/mod_solicita_impressao/solicitacaoImpressao
/mod_solicita_impressao/solicitacaoImpressao
paraFaser.txt

